a {
    text-decoration: none;
    text-transform: none;
    color: rgb(0, 0, 0);
}


body {
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    color: rgba(20, 16, 36, 0.8);
    text-align: left;

}


header {

    background-color: #D76F30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  

}

.logo-img {
    height: 50px;
}

.header-contacts {
    display: flex;
    gap: 10px;
}

.wrapper-outer {
    width: 100%;
    min-height: 100vh;
    background: #cee5e3;
}

.wrapper-inner {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.main-title {
    text-align: left;
    padding: 20px;
}

.to-do-container {
    width: 100%;
    max-width: 400px;
    min-height: 7lh;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    background-color: #ffffff;
    padding: 40px 30px 40px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;

}



h1 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin: 0;
}


footer {
    background-color: #D76F30;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;

}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    padding: 0px 10px;
    


}

li:hover {
    background-color: #e0e0e0;
    transition: 0.5s;
}


ul {
    margin: 0;
    padding: 0;
}

input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #e0e0e0;
}

.to-do-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e0e0e0;
    padding-left: 20x;
    margin-bottom: 25px;

}

.to-do-button {
    border: none;
    outline: none;
    padding: 16px 20px;
    background-color: #D76F30;
    color: aliceblue;
    font-size: 14px;
    cursor: pointer;
}

.to-do-button:hover {
    background: #c44b00;
    color: #ffffff;
    transition: 0.5s;
}

ul li.checked {
    text-decoration: line-through;

}

ul li span {


    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #D76F30;
    line-height: 40px;
    text-align: center;
   

}



ul li span:hover {

    transition: 0.3s;
    color: #ffffff;
}